/* form.css */


main {
  margin: auto;
  background-color: #008080;
  padding: 10px;
  border: 3px solid black;
  border-radius: 25px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}


fieldset { border: 2px solid black; width: 30%; height: 60%; padding: 20px; }

textarea { 
  display: block; 
  resize: none; 
  padding: 10px; 
  background-color: #EEE; 
  color: black; 
  position: absolute; 
  top: 20.5%; 
  right: 1.5%; 
  height: 90%; 
  width: 60%; 
}

div { text-align: center; }

body { background-color: #778899; }

header { background-color: #363636; color: white; padding: 10px; }

nav { background-color: #242424; padding: 10px; }

nav > a { display: inline-block; background-color: #363636; color: white; border-radius: 5px; padding: 5px; }


.tooltip { position: absolute; top: 24%; right: 71%; display: inline-block; border: 2px solid black; visibility: hidden; }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}


.Nav { background-color: #5A5A5A }

.Form { width: 98%; height: 900px; }

.Centered { text-align: center; }

.RightAligned { text-align: right; }


select, input { background-color: #EEE; }

table { border-spacing: 5px; }

td { padding: 5px; }

