/* css1.css */


body { background-color: #D3D3D3; font-family: 'Poppins', sans-serif; }

main {
  margin: auto;
  background-color: #109090;
  padding: 10px;
  margin: 30px;
  border: 3px solid black;
  border-radius: 40px;
  font-family: 'Poppins', sans-serif;
}


nav { 
	background-color: rgb(15, 15, 15);
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 100%;
	height: 10vh;
	min-height: 8vh;
	font-family: 'Poppins', sans-serif;
}


form { padding-bottom: 20px; overflow: auto; min-width: 20%; max-width: 100%; display: inline;}

input[type=number] { overflow: auto; }

input[type=number]:focus { background-color: lightblue; }

input[type=text] { overflow: hidden; width: 85% }

input[type=text]:focus { margin: auto; overflow: auto; background-color: lightblue; }

input[type=checkbox] { display: inline-block; position: relative; width: 15px; height: 15px; border: none;}

input[type=radio] { padding: 2px; display: inline-block; position: relative; width: 15px; height: 15px; border: none;}

table { border-spacing: 20px; padding: 10px; max-width: 100%; }

td { padding: 10px; }

tr { max-width: 100%; }


.H2 { letter-spacing: 2px; text-align: center; }

.Logo { color: rgb(224, 224, 224); letter-spacing: 2px; font-size: 22px; }

.Links { display: flex; justify-content: space-around; width: 40%; }
.Links a { color: rgb(224, 224, 224); text-decoration: none; letter-spacing: 2px; font-size: 14px; }
.Links li { list-style: none; }

.Mobile { display: none; }
.Mobile div { background-color: rgb(224, 224, 224); width: 25px; height: 3px; margin: 5px; }


@media screen and (max-width:1000px) {
	.Links { width: 40%; }
}

@media screen and (max-width:750px) {
	body {
		overflow-x: hidden;
	}
	.Links {
		position: absolute;
		background-color: rgb(15, 15, 15);
		right: 0px;
		height: 50vh;
		top: 9.5vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 40%;
		transform: translateX(100%);
	}
	.Links li { opacity: 1; }
	
	.Mobile {
		display: block;
	}
}

.Mobile-active { transform: translateX(0%); }


.Table { 
	width: 100%;
	border-spacing: 20px; 
	padding: 10px; 
	border:2px solid black; 
	border-collapse: collapse; 
	table-layout: auto; 
	max-width: 100%; 
	overflow: auto;
}

.TD { padding-top: 3px; padding-bottom: 3px; word-wrap: break-word; max-width: 100px; text-align: center; border:2px solid black; }

.Required { background-color: #ffcccc; }

.Invalid { border-bottom: 2px solid red;}

.Info { font-size: 10pt; color: #242424; }

.Message { display: none; text-align: center; }


.Button {
	background-color: #595555; 
	border: none; 
	color: white; 
	padding: 12px 25px; 
	text-align: center; 
	display: inline-block; 
	font-size: 15px; 
	user-select: none;
}

.Active { font-weight: bold; color: #4CAF50 !important; }

.Borderless { border: none; border-collapse: separate; }

.BorderlessCells { border: none; }

.Form { padding: 20px; }

.Centered { text-align: center; }

.RightAligned { text-align: right; }


